<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{g.user.username}}'s Profile
          </h1>
          <h2 class="subtitle">
            You are user number #{{g.user.id}}
          </h2>
        </div>
      </div>
    </section>
  </body>
</html> -->

{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <!--Phần body của trang chủ-->
    <div class="body">
      <!--image slide start-->  
      <div class="slider">
        <div class="sliders">
          <!--radio buttons start-->
          <input type="radio" name="radio-btn"id="radio1">
          <input type="radio" name="radio-btn"id="radio2">
          <input type="radio" name="radio-btn"id="radio3">
          <input type="radio" name="radio-btn"id="radio4">
          <!--radio buttons end-->
          <!--slider image start-->
          <div class="slide first">
            <img  src="http://www.vnpost.vn/Portals/0/banner/Banner%20Hoc-Online.jpg"  alt="">
          </div>
          <div class="slide">
            <img src="http://www.vnpost.vn/Portals/0/banner/Postmart-NongSan.jpg" alt="">
          </div>
          <div class="slide">
            <img src="http://hcmpost.vn/uploads/quangcao/logistic-1-png-20211107111309mo6ydxXtKc.png"  alt="">
          </div>
          <div class="slide">
            <img src="http://www.vnpost.vn/Portals/0/banner/Banner%20Cong%20PostGreen.jpg" alt="">
          </div>
          
          <!--slider image end-->
          <!--automatic navigation start-->
          <div class="navigation-auto">
            <div class="auto-btn1">

            </div>
            <div class="auto-btn2">
              
            </div>
            <div class="auto-btn3">
              
            </div>
            <div class="auto-btn4">
              
            </div>
          </div>
          <!--automatic nagivation end-->

        </div>
        <!--matual nagigation start-->
        <div class="nagigation-manual">
          <label for="radio1" class="manual-btn" ></label>
          <label for="radio2" class="manual-btn" ></label>
          <label for="radio3" class="manual-btn" ></label>
          <label for="radio4" class="manual-btn" ></label>

        </div>
        <!--matual nagigation end-->

      </div>
         <!--image slide end-->
         <script type="text/javascript">
           var count = 1;
           setInterval(function(){
             document.getElementById('radio' + count).checked = true;
             count ++;
             if(count > 4 ){
               count = 1 ;
             }
           }, 5000);
         </script>
    </div>

</body>
</html>
{% endblock %}